:root {
}

@layer components {
	.btn {
		@apply inline-flex cursor-pointer items-center justify-center rounded-full bg-gray px-8 py-3 font-extrabold uppercase tracking-widest text-lightGray transition-all hover:opacity-90;
	}

	.title {
		@apply text-4xl font-extrabold leading-[1.1] text-lightGray lg:text-[55px];
	}

	.title_h2 {
		@apply text-[59px] leading-[1.1] text-white lg:text-[85px];
	}

	.title_h3 {
		@apply text-base font-bold normal-case leading-normal;
	}

	.text {
		@apply text-xl font-normal text-softGray lg:text-2xl;
	}
	.title-gradient {
		@apply text-[63px] font-extrabold leading-none tracking-tight lg:text-[208px];
		background: linear-gradient(180deg, #424254 -16.3%, rgba(66, 66, 84, 0) 78.63%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}
